body {
  margin: 3% 2% 3% 2%;
  background-image: radial-gradient(circle, lightblue, lightgreen, lightblue);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3,
h4 {
  font-weight: bold;
  text-align: center;
}

h3 > a {
  color: black;
}

h3 > a:hover {
  color: black;
}

h4 > a {
  color: black;
}

h4 > a:hover {
  color: black;
}

ul {
  list-style-type: none;
}

.sidebar-separator {
  width: 85%;
  border: thick solid white;
  border-radius: 50px;
}

.sidebar-info {
  background-color: deepskyblue;
  border: black;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 7%;
  margin-bottom: 5%;
}

.sidebar-info-block {
  justify-content: center;
}

.sidebar-header {
  margin-top: 10%;
}

.sidebar-logo {
  margin-bottom: 10%;
  height: 33%;
  pointer-events: none;
  border-radius: 25%;
  padding: 1px 0% 5px 0%;
  width: 95%;
}

.sidebar-name {
  font-size: xx-large;
}

.sidebar-contact {
  font-size: 20px;
}

.sidebar-contact ul {
  list-style-type: none;
  float: left;
}

.sidebar-contact a {
  color: white;
}

.sidebar-contact ul {
  margin: auto;
  width: 85%;
}

.sidebar-contact li {
  margin-top: 5%;
}

.sidebar-icon {
  width: 10%;
  margin-right: 2%;
  filter: invert(100%);
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  width: 10%;
  margin-right: 4%;
  filter: invert(100%);
}

.profile img {
  width: 15%;
}

.profile p {
  text-align: center;
}

.sidebar-skill {
  width: 100%;
  color: white;
  font-size: 20px;
}

.sidebar-skill-block {
  text-align: center;
  padding: 3% 0 5% 0;
  margin-bottom: 5%;
  background-color: deepskyblue;
  border: black;
  border-radius: 25px;
}

.sidebar-skill-block table {
  width: 100%;
}

.sidebar-skill-block table tr td {
  padding-bottom: 1%;
}

/*.two-column-table{*/
/*  width: 100% !important;*/
/*}*/

.sidebar-separator-skill {
  width: 85%;
  border: thick solid white;
  border-radius: 50px;
}

.page-block {
  margin-top: 1%;
}

.page-block > h3 {
  text-align: center;
}

.page-block-text {
  font-size: 18px;
}

.page-block > h5:nth-child(3) {
  margin-bottom: 2%;
}

.page-separator {
  border: medium solid black;
  border-radius: 50px;
}

.employment {
  flex-direction: column;
  background-color: white;
  border: black;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding-top: 0.1%;
  padding-bottom: 1%;
}

.employment h4,
h5 {
  text-align: center;
}

.education {
  flex-direction: column;
  background-color: white;
  border: black;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  margin-top: 3%;
  padding-top: 0.1%;
}
